<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div style="margin-top: 2em">
      <h3>Certificate details:</h3>
      <p>Type: $EKU</p>
      <p>Intermediate CA (DER format): https://ca.eng.pagopa.it/$INT/ca</p>
      <p>Intermediate CA CRL (DER format): https://ca.eng.pagopa.it/$INT/crl</p>
      <p>Root CA (DER format): https://ca.eng.pagopa.it/00/ca</p>
      <p>Subject: $SUB</p>
      <p>SAN: $SAN</p>
      <p>Issued: $NVB</p>
      <p>Expiry: $NVA</p>
      <p></p>
      <p>Serial: $SER</p>
      <p>Internal Request ID: $HTK</p>
    </div>
    <div>
      <p style="margin-top: 2em">
        You are receiving this email because your email address was in the CSR
        email field.<br />Please report any unusual or suspicious email to
        <a href="mailto:security+ca@pagopa.it">security+ca@pagopa.it</a>.
      </p>
      <p style="font-style: italic">PagoPA Security Team</p>
    </div>
  </body>
</html>
